.promo {
  padding: 130px 0;

  background-color: var(--bg-blue);

  h1 {
    margin-bottom: 60px;
    color: white;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__image {
    width: 40%;
    object-fit: cover;

    img {
      object-fit: cover;
      width: 100%;
    }
  }

  button {
    cursor: pointer;
    padding: 20px 50px;
    border-radius: 13px;
    outline: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-buttons);
    background-color: #fff;
    color: var(--color-text-main);
    border: none;
  }
}

