:root {
  --font-family-main: 'Montserrat', sans-serif;

  --font-size-h1: 80px;
  --font-size-h2: 40px;
  --font-size-h3: 36px;
  --font-size-text: 16px;
  --font-size-naming: 18px;
  --font-size-buttons: 25px;
  --font-size-extra-small: 12px;

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;

  //Colors
  --color-green-main: #339933;
  --color-green-light: #f1fff1;
  --color-text-main: #000;
  --color-text-secondary: #3a3a3a;
  --color-text-gray: #8b8b8b;
  --color-text-light-gray: #acacac;
  --color-text-pink: #ff32a1;
  --color-error: rgb(231, 98, 98);
  --bg-blue: #a1e2eb;

  //Padding
  --component-padding: 90px 0;
}

